{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
<div class="container" >
	{% block main_content %}{% endblock %}
</div>

<aside id="sidebar">
	{% block sidebar %}
		{% include 'GuestbookBookBundle:Book:post_form.html.twig' %}
	{% endblock %}
</aside>
{% endblock %}
