{% extends 'GuestbookBookBundle::layout.html.twig' %}

{% block main_content %}
    <header><h3>ABOUT PAGE</h3></header>
    <article>
    <p>This Guestbook is a dummy bootstrap work based on the Symfony Framework 2.</p>
    </article>
{% endblock %}
