

<div class="container">
    <div class="row">
		<form role="form" action="{{ path('GuestbookBookBundle_post_new_comment') }}" method="post" enctype="multipart/form-data" class="col-md-9 go-right">
			<div class="form-group">
			<input id="name" name="name" type="text" class="form-control" required>
			<label for="name">Your Name</label>
		</div>
		<div class="form-group">
			<input id="phone" name="email" type="email" class="form-control" required>
			<label for="phone">Your email</label>
		</div>
		<div class="form-group">
			<textarea id="message" name="message" class="form-control" required></textarea>
			<label for="message">Message</label>
		</div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" name="button">Post</button>
    </div>
		</form>
	</div>
</div>
