{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="container" >
  {% block main_content %}{% endblock %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
