{% extends 'GuestbookAdminBundle::layout.html.twig' %}

{% block main_content %}

      {% for post in waiting_posts %}
  <div class="row">
            <div class="col-sm-4">
              <div class="thumbnail">
                 <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="50" height="50">
              </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                   <strong>{{ post.name }}</strong> <span class="text-muted">(Email: {{ post.email }})</span>
                </div>
                <div class="panel-body">
                  {{ post.comment }}
               </div><!-- /panel-body -->
             </div><!-- /panel panel-default -->
           </div><!-- /col-sm-5 -->
  </div><br>
    {% else %}
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
        <p>No "to be approved" waiting posts.</p>
      </div><!-- /panel-body -->
    </div><!-- /panel panel-default -->
   </div><!-- /col-sm-5 -->
</div>
    {% endfor %}

    <aside id="sidebar">
    		{% include 'GuestbookBookBundle:Book:post_form.html.twig' %}
    </aside>
{% endblock %}
